/* Estilos básicos para una mejor visualización */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1,
h2 {
  color: #333;
}

#products-container > div {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

img {
  max-width: 100px;
  display: block;
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

form input,
form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

button {
  margin-right: 5px;
  padding: 5px 10px;
}

#edit-form-container {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

/* Estilos para el login */
#login-container {
  max-width: 400px;
  margin: 0 auto;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form input {
  margin-bottom: 10px;
  padding: 8px;
}

#logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

#logout-button:hover {
  background-color: #d32f2f;
}
